.photo {
  height: 260px;
  padding-top: 30px;
}
.t-mobile {
  height: 20px;
  position: relative;
  top: 5px;
  padding: 0px 2px 0px 4px;
}
.comcast {
  height: 15px;
  position: relative;
  top: 2px;
  padding: 0px 2px 0px 5px;
}
.kpmg {
  height: 45px;
  position: relative;
  top: 2px;
  margin: -16px -7px -13px -2px;
}
.container {
  padding: 20px 40px 40px 40px;
}
.header {
  font-size: 24px;
  width: 750px
}
.image {
  text-align: center;
}

.description p {
  width: 750px;
  font-size: 13pt;
  line-height: 30px;
}

@media (max-width: 1280px) {
  .description p {
    margin: 0 auto;
    margin-top: 15px;
  }
  .header {
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 10px 20px 34px 20px;
  }
  .description p {
    width: 100%;
  }
}
