<div class="container" fxLayout fxLayout.lt-lg="column">
  <div class="image" fxFlex=35>
    <img class="photo" src="../../assets/images/photo.png">
  </div>
  <div fxLayout="column">
    <div class="header" fxLayout fxLayout.lt-sm="column">
      <div>
        Angular | React |&nbsp;
      </div>
      <div>
        Full Stack Web Developer
      </div>
    </div>
    <div class="description" fxFlex fxLayout="column">
      <p>
        I am a Full Stack Software Engineer who specializes in front end web development with <b>Angular</b>. I have expertise 
        working with <b>Angular</b> versions 2 through 10, <b>React</b>, <b>TypeScript</b>, and <b>Javascript</b>. For backend 
        systems, I have worked with <b>Java Spring</b> and <b>C# .NET</b>.
      </p>
      <p>
        As a professional web developer, I have worked on <b>Angular</b> projects for <b>T-Mobile</b>, <b>Comcast</b>, 
        <b>KPMG</b>, and <b>Site 1001</b>. My work shows analysis of business objectives, code optimization, responsive 
        design, and an understanding of UX/UI principles to create great web applications. 
      </p>
      <p>
        I have created some sample projects in my portfolio to show my expertise in <b>Angular</b>, <b>Node.js</b>, and 
        <b>Firebase</b>. Visit my weather website, <a href="https://weatherlist.herokuapp.com">Weather List</a>, to see
        an <b>Angular 10</b> project. View the code for this website on my <a href="https://github.com/chrismayo23/weatherlist">
        Github</a> repo, where you can see important coding patterns such as <b>component architecture</b>, <b>RxJS</b>, and 
        <b>Observables</b>.
      </p>
      <p>
        Please click on the <a href="/portfolio">portfolio</a> tab to view the projects I've worked on and the 
        <a href="/contact">contact</a> tab to see my contact information.
      </p>
    </div>
  </div>
</div>