<div class="container" fxLayout fxLayout.lt-lg="column">
  <div class="image" fxFlex=35>
    <img src="../../assets/images/photo.png">
  </div>
  <div fxLayout="column">
    <div class="header">
      Angular | React | Full Stack Web Development
    </div>
    <div class="description" fxFlex fxLayout="column">
      <p>
        I am a full stack software engineer who specializes in front end development with Angular. I use the framework
        and
        design methods to build web sites to provide quality user experience.
      </p>
      <p>
        My work shows analysis and understanding of business objectives to create great projects and web sites. I have
        worked as a software engineer at Site 1001, an Angular based website to help manage facility maintenance.
      </p>
      <p>
        I have also created some sample projects in my portfolio to show my expertise in Angular, React,
        Node, and database systems such as SQL and noSQL.
      </p>
      <p>
        Please click on the portfolio tab to view some of the projects I've worked on.
      </p>
    </div>
  </div>
</div>