.container {
  padding-top: 40px;
}
mat-card {
  width: 440px;
  margin: 0 auto;
}
.list-item div {
  width: 100px;
  margin-bottom: 10px;
}
@media (max-width: 599px) {
  mat-card {
    width: 330px;
  }
  .list-item {
    margin-bottom: 10px;
  }
}
@media (max-width: 440px) {
  mat-card {
    width: 85%;
  }
}
