<div class="container">
  <div class="header">
    Contact Information
  </div>
  <mat-card class="mat-elevation-z8">
    <mat-list>
      <div class="list-item" fxLayout fxLayout.lt-sm="column">
        <div>Email:</div>
        <div>
          <a href="mailto: chrismayo23@gmail.com">chrismayo23@gmail.com</a>
        </div>
      </div>
      <div class="list-item" fxLayout fxLayout.lt-sm="column">
        <div>Phone:</div>
        <div>
          <a href="tel:470-755-7182">470-755-7182</a>
        </div>
      </div>
      <div class="list-item" fxLayout fxLayout.lt-sm="column">
        <div>LinkedIn:</div>
        <div>
          <a href="https://www.linkedin.com/in/chrismayo23/">https://www.linkedin.com/in/chrismayo23</a>
        </div>
      </div>
      <div class="list-item" fxLayout fxLayout.lt-sm="column">
        <div>GitHub:</div>
        <div>
          <a href="https://www.github.com/chrismayo23/">https://www.github.com/chrismayo23</a>
        </div>
      </div>
    </mat-list>
  </mat-card>
</div>