<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="card header">
    Portfolio
  </div>
  <mat-card class="card" fxLayout fxLayout.lt-md="column">
    <div class="image-div">
      <img class="image" src="../../assets/images/weatherlist.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">Weather List</div>
        <div><a href="http://weatherlist.herokuapp.com/">http://weatherlist.herokuapp.com/</a></div>
      </div>
      <div class="technologies">
        Angular 10 | TypeScript | Firebase | Express | Node | Material Design
      </div>
      <div>
        Weather List is an Angular 10 and Firebase (noSQL) app to list locations, weather, and user likes. It uses 
        RxJS and Observables to transfer data between components and the database.
      </div>
      <div class="github" fxLayout fxLayout.lt-sm="column">
        <div class="title-github">
          Github repo:
        </div>
        <div><a href="https://github.com/chrismayo23/weatherlist">https://github.com/chrismayo23/weatherlist</a></div>
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout fxLayout.lt-md="column">
    <div class="image-div">
      <img class="image t-mobile" src="../../assets/images/t-mobile_small.jpg">
    </div>
    <div class="t-mobile-description">
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">T-Mobile</div>
      </div>
      <div class="technologies">
        Angular 8 | TypeScript | Micro-App Architecture | Bootstrap
      </div>
      <div>
        Angular 8 web application that implements a Micro-App architecture. This system
        allows for a better development process in an enterprise application. The app is a customer care portal
        that uses Angular best practices to optimize for speed and performance during navigation.
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout fxLayout.lt-md="column">
    <div class="image-div">
      <img class="image comcast" src="../../assets/images/comcast-1-282780.png">
    </div>
    <div class="comcast-description">
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">Comcast</div>
      </div>
      <div class="technologies">
        Angular 8 | TypeScript | Java | Spring | Bootstrap
      </div>
      <div>
        Angular 8 application for cable system maintenance. This app analyzes data from cable subscribers and 
        shows the locations of fiber optic nodes. In this project I utilized Bootstrap UI components, RxJS, and Observables.
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout fxLayout.lt-md="column">
    <div class="image-div">
      <img class="image kpmg" src="../../assets/images/kpmg2.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">KPMG</div>
      </div>
      <div class="technologies">
        Angular 8 | TypeScript | C# | .NET | Material Design
      </div>
      <div>
        Angular 8 application for global tax management. In this project I helped implement user, user group, and
        entitlements design patterns. Refactored code to use Material Design UI components.
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout fxLayout.lt-md="column">
    <div class="image-div">
      <img class="image" src="../../assets/images/site1001.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">Site 1001</div>
      </div>
      <div class="technologies">
        Angular 8 | TypeScript | Java | Spring | Material Design
      </div>
      <div>
        Site 1001 is an Angular application for facility maintenance and task automation. Technologies I utilized in
        this website include Typescript, NgRx (Redux pattern store for Angular), RxJS (async data transfer and
        observables), and a REST API.
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout fxLayout.lt-md="column">
    <div class="image-div">
      <img class="image" src="../../assets/images/park-hopper.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">National Park Hopper</div>
        <div><a href="https://chrismayo23.github.io/park-hopper/">https://chrismayo23.github.io/park-hopper/</a></div>
      </div>
      <div class="technologies">
        Javascript | Firebase
      </div>
      <div>
        National Park Hopper allows the user to log the parks they've visited. It uses the National Park Service API,
        Google Maps API, and Firebase.
      </div>
      <div class="github" fxLayout fxLayout.lt-sm="column">
        <div class="title-github">
          Github repo:
        </div>
        <div><a href="https://github.com/chrismayo23/park-hopper">https://github.com/chrismayo23/park-hopper</a></div>
      </div>
    </div>
  </mat-card>
</div>