<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="card header">
    Portfolio
  </div>
  <mat-card class="card" fxLayout fxLayout.lt-md="column">
    <div class="image-div">
      <img class="image" src="../../assets/images/site1001.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">Site 1001:</div>
        <div><a href="https://site1001.com">https://site1001.com</a></div>
      </div>
      <div class="technologies">
        Angular
      </div>
      <div>
        Site 1001 is an Angular application for facility maintenance and task automation. Technologies I utilized in
        this website include Typescript, NgRx (Redux pattern store for Angular), RxJS (async data transfer and
        observables), and a REST API.
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout>
    <div class="image-div">
      <img class="image" src="../../assets/images/weatherlist.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">Weather List:</div>
        <div><a href="http://weatherlist.herokuapp.com/">http://weatherlist.herokuapp.com/</a></div>
      </div>
      <div class="technologies">
        Angular | Firebase | Express | Node
      </div>
      <div>
        Weather List is a Angular Firebase (noSQL) app to list locations, weather, and user likes. It uses a
        real time Firebase database with full CRUD operations.
      </div>
      <div class="github" fxLayout fxLayout.lt-sm="column">
        <div class="title-github">
          Github repo:
        </div>
        <div><a href="https://github.com/chrismayo23/weatherlist">https://github.com/chrismayo23/weatherlist</a></div>
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout>
    <div class="image-div">
      <img class="image" src="../../assets/images/weather-temps.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">Weather Temps:</div>
        <div><a href="https://weather-temps.herokuapp.com/">https://weather-temps.herokuapp.com/</a></div>
      </div>
      <div class="technologies">
        MongoDB | Express | React | Node
      </div>
      <div>
        Weather Temps is a MERN stack application to display weather. This app uses a mongoDB database and Redux store
        pattern architecture, as well as authentication with JWT.
      </div>
      <div class="github" fxLayout fxLayout.lt-sm="column">
        <div class="title-github">
          Github repo:
        </div>
        <div>
          <a
            href="https://github.com/chrismayo23/mlab-open-weather">https://github.com/chrismayo23/mlab-open-weather</a>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout>
    <div class="image-div">
      <img class="image" src="../../assets/images/park-hopper.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">National Park Hopper:</div>
        <div><a href="https://chrismayo23.github.io/park-hopper/">https://chrismayo23.github.io/park-hopper/</a></div>
      </div>
      <div class="technologies">
        Javascript | Firebase
      </div>
      <div>
        National Park Hopper allows the user to log the parks they've visited. It uses the National Park Service API,
        Google Maps API, and Firebase.
      </div>
      <div class="github" fxLayout fxLayout.lt-sm="column">
        <div class="title-github">
          Github repo:
        </div>
        <div><a href="https://github.com/chrismayo23/park-hopper">https://github.com/chrismayo23/park-hopper</a></div>
      </div>
    </div>
  </mat-card>
  <mat-card class="card" fxLayout>
    <div class="image-div">
      <img class="image" src="../../assets/images/wings-chooser.png">
    </div>
    <div>
      <div fxLayout fxLayout.lt-sm="column">
        <div class="title">Wings Chooser:</div>
        <div><a href="https://wings-chooser.herokuapp.com/">https://wings-chooser.herokuapp.com/</a></div>
      </div>
      <div class="technologies">
        Javascript | MySQL | Express | Node
      </div>
      <div>
        Wings Chooser is a restaurant menu builder. It utilizes a MySQL database with REST API and full CRUD operations
      </div>
      <div class="github" fxLayout fxLayout.lt-sm="column">
        <div class="title-github">
          Github repo:
        </div>
        <div><a href="https://github.com/chrismayo23/wings-chooser">https://github.com/chrismayo23/wings-chooser</a>
        </div>
      </div>
    </div>
  </mat-card>
</div>