.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  z-index: 1000;
  background-color: rgb(44, 44, 44);
  color: white;
  height: 64px;
}

a {
  color: white;
}

.sidenav-toggle {
  color: white;
  background-color: rgb(58, 58, 58);
}

.sidenav {
  background-color: rgb(233, 233, 233);
  width: 160px;
}

.sidenav-item {
  margin-left: 23px;
}

.name {
  display: block;
  font-size: 20pt;
  margin-left: 80px;
}

.route-buttons {
  margin-right: 80px;
}

@media (max-width: 700px) {
  .name {
    margin-left: 30px;
  }
}

@media (max-width: 599px) {
  .name {
    position: relative;
    top: 4px;
    margin-left: 30px;
  }
}
